body
{
    background-image: url('/img/low_contrast_linen.png');
    text-align: center;
    line-height: 18px;
}

.about-img
{
    height: 200px;
    margin: 10px;
    border-radius: 15px;
}

#main-nav
{
    margin: 0px auto;
}

pre
{
    text-align: left;
}
