body
{
    background: #FEFEFE;
    text-align: center;
    line-height: 18px;
}

.about-img
{
    height: 200px;
    margin: 10px;
    border-radius: 15px;
}
#main-nav
{
    margin: 0px auto;
}

pre
{
    text-align: left;
}
